<ion-view title="OrganEasy" id="page1" class="bar-balanced">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Dashboard</h1>
        <button class="button button-balanced"  ui-sref="menu.cadastroDeAtividade"><i class="icon ion-plus"></i></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item">
                <h2>Nome</h2>
                <p>Categoria - Disciplina</p>
            </div>
        </div>
    </ion-content>
</ion-view>
