<ion-view title="OrganEasy">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Detalhamento de Professor</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{professor.nome_professor}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-email"></i>
                {{professor.email_professor}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-android-call"></i>
                {{professor.telefone_professor}}
            </div>
            <div class="item item-body">
                <strong>Anotação:</strong> {{professor.anotacao_professor}}
            </div>
        </div>
    </ion-content>
</ion-view>