<ion-view title="OrganEasy" id="page1" class="bar-balanced">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Disciplina</h1>
        <button class="button button-balanced" ui-sref="menu.cadastroDeDisciplina"><i class="icon ion-plus"></i></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <ion-list>
                <ion-item ng-repeat="disciplina in disciplinas" ng-click="visualizar(disciplina)">
                    {{disciplina.nome}}
                    <ion-option-button class="button-energized" ng-click="editar(disciplina)"><i class="icon ion-edit"></i></ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="excluir(disciplina)"><i class="icon ion-trash-a"></i></ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>