<ion-view title="OrganEasy" id="page2">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Edição</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form class="list" name="formulario">
          <div>
            <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formulario.nome.$invalid && !formulario.nome.$pristine }">
                <span class="input-label">Nome</span>
                <span class="form-error" ng-show="formulario.nome.$error.required && !formulario.nome.$pristine">Nome é obrigatório</span>
                <span class="form-error" ng-show="formulario.nome.$error.minlength && !formulario.nome.$pristine">No mínimo 2 caracteres</span>
                <input type="text" placeholder="Nome" name="nome" ng-model="categoria.nome" minlength="2" required>
            </label>
          </div>
            <button class="button button-royal button-block" ng-disabled="formulario.$invalid" ng-click="salvar(categoria)">Salvar</button>
        </form>
    </ion-content>
</ion-view>
