<ion-view title="OrganEasy" id="page3">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Edição de Atividade</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <form name="formulario" class="list">
                <label class="item item-select" ng-class="{ 'has-error' : formulario.categoria.$invalid && !formulario.categoria.$pristine }">
                    <span class="input-label">Categoria</span>
                    <span class="form-error" ng-show="formulario.categoria.$error.required && !formulario.categoria.$pristine">Selecione uma categoria</span>
                    <select name="categoria" ng-model="atividade.categoria" required>
                        <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nome}}</option>
                    </select>
                </label>
                <label class="item item-select" ng-class="{ 'has-error' : formulario.disciplina.$invalid && !formulario.disciplina.$pristine }">
                    <span class="input-label">Disciplina</span>
                    <span class="form-error" ng-show="formulario.disciplina.$error.required && !formulario.disciplina.$pristine">Selecione uma disciplina</span>
                    <select name="disciplina" ng-model="atividade.disciplina" required>
                        <option ng-repeat="disciplina in disciplinas" value="{{disciplina.id}}">{{disciplina.nome}}</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formulario.descricao.$invalid && !formulario.descricao.$pristine }">
                    <span class="input-label">Descrição</span>
                    <span class="form-error" ng-show="formulario.descricao.$error.required && !formulario.descricao.$pristine">Descrição é obrigatório</span>
                    <input name="descricao" type="text" placeholder="Descrição" ng-model="atividade.descricao" required>
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formulario.data.$invalid && !formulario.data.$pristine }">
                    <span class="input-label">Data</span>
                    <span class="form-error" ng-show="formulario.data.$error.required && !formulario.data.$pristine">Data é obrigatório</span>
                    <input name="data" type="text" placeholder="Data" ng-model="atividade.data" required>
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : formulario.valor.$invalid && !formulario.valor.$pristine }">
                    <span class="input-label">Valor da atividade</span>
                    <span class="form-error" ng-show="formulario.valor.$error.required && !formulario.valor.$pristine">Valor é obrigatório</span>
                    <input name="valor" type="number" step="0.01" placeholder="Valor da atividade" ng-model="atividade.valor" required>
                </label>
                <ion-toggle toggle-class="toggle-royal" ng-model="atividade.alarme">Exibir notificação</ion-toggle>
            </form>
        </div>
        <button class="button button-royal button-block" ng-disabled="formulario.$invalid" ng-click="salvar(atividade)">Salvar</button>
    </ion-content>
</ion-view>