<ion-view title="OrganEasy" id="page1" class="bar-balanced">
    <!-- Subbarra com botões -->
    <ion-header-bar class="bar-subheader bar-secundaria">
        <h1 class="title">Professor</h1>
        <button class="button button-balanced"  ui-sref="menu.cadastroDeProfessor"><i class="icon ion-plus"></i></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <ion-list>
                <ion-item ng-repeat="professor in professores" ng-click="visualizar(professor)">
                    {{professor.nome_professor}}
                    <ion-option-button class="button-energized" ng-click="editar(professor)"><i class="icon ion-edit"></i></ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="excluir(professor.id_professor)"><i class="icon ion-trash-a"></i></ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
